html,
body,
#app {
    height: 100%;
}

.btn {
    outline-style: none !important;
}

.navbar {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner .item .fill {
    height: 100%;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    word-wrap: break-word;
}

.carousel-inner .item .fill {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-inner .item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto !important;
}

#numbers-button {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #343a40;
    color: white;
    font-size: 16px;
}

#numbers-button:hover {
    background-color: #222;
}

#statistics {
    padding: 50px 0;
    background-color: #30f2c6;
    color: white;
}

.statistics-header {
    text-align: center;
}

.statistics-header h1 {
    margin-bottom: 20px;
}

.statistisc-item {
    /*background-color: #ffffff;
    color: #30f2c6;*/
    text-align: center;
    margin: 20px 0;
}

.statistics-circle {
    -webkit-transform: translateZ(0px);
    position: relative;
    margin: auto;
    background-color: #ffffff;
    height: 150px;
    width: 150px;
    border-radius: 200px;
    color: #30f2c6;
    font-size: 32px;
    line-height: 0;
}

.statistics-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

#statistics-caption h3 {
    text-align: center;
    padding-top: 10px;
}

#about {
    position: relative;
    background-image: url("./img/about-bg.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 150px;
    color: white;
}

.overlay-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.overlay-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
    z-index: 2;
}

#about-content {
    position: relative;
    z-index: 10;
    font-size: 16px;
}

#team-leaders {
    padding-top: 40px;
}

.team-item img {
    margin: auto;
}

.team-caption {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

#contact {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000000;
    font-size: 16px;
    color: white;
}

#contact-header {
    text-align: center;
}

#contact-items-wrapper h3 {
    text-align: center;
    padding-bottom: 10px;
}

.contact-item {
    font-size: 16px;
    line-height: 16px;
}

.contact-item:hover {
    cursor: pointer;
}

.contact-item:hover span {
    color: silver;
}

.contact-item i {
    margin-right: 10px;
    font-size: 24px;
    line-height: 24px;
}

form br {
    clear: both;
}

form h3 {
    margin-bottom: 25px;
    text-align: center !important;
}

#map-wrapper {
    padding-top: 40px;
}

#map-caption {
    text-align: center;
}

#footer {
    background-color: #337ab7;
    font-size: 14px;
    text-align: center;
    color: white;
}

@media (max-width: 767.98px) {
    h1 {
        font-size: 1.9em !important;
    }

    h2 {
        font-size: 1.57em !important;
    }

    h3 {
        font-size: 1.23em !important;
    }

    h5 {
        font-size: 1.15em !important;
    }

    h6 {
        font-size: .9em !important;
    }

    #footer {
        font-size: 10px;
    }
}

@media (max-width: 991.98px) {
    #about {
        /*background-image: url("./img/about-bg-mobile.jpg");
background-position: top;
background-attachment: scroll;
-o-background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;*/
        padding-bottom: 100px;
    }

    .overlay-bottom {
        height: 75px;
    }

    #footer {
        font-size: 12px;
    }
}